<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 </head>
 <style type="text/css">
table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:20px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
</style>
<body>
<div id="contentDiv" style="font-size:14px;height:auto;width:auto;padding:15px 0 10px 15px;*padding:15px 0 0 15px;overflow:visible;line-height:170%;min-height:100px;_height:100px;" class="" >
	<table id="" width="100%" cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td valign="top" style="font-size:14px;padding:0;height:auto;min-height:auto;font-family: 'lucida Grande',Verdana;" class="body">
				<div id="mailContentContainer" class="left">
                    <style type='text/css'>
                    </style>
                        <table border='0' align='left' cellpadding='0'>
                          <tr>
                            <td align='center' valign='top' bgcolor='#FFFFFF'>
                        		<table width='96%' border='0' cellspacing='0' cellpadding='0'>
                                  <tr>
                                    <td height='12'></td>
                                  </tr>
                                  <tr>
                                    <td height='13' align='left' valign='top'></td>
                                  </tr>
                                  <tr>
                                    <td align='left' valign='top'>
										<span class='font_blue122_bold'>&nbsp;&nbsp;经销商$userName你好，您的以下客户已被Open/延期，请悉知：</span><br/>
									</td>
                                  </tr> 
                                  <tr>
                                  </tr> 
                                    <tr>
                                  	<td align='left' valign='top'>
       									<div style='border:1px solid #FFFFFF'>&nbsp;&nbsp;&nbsp;&nbsp;$mailBody</div>
									</td>
                                  </tr> 
                                  <tr>
                                    <td align='left' valign='top'>&nbsp;</td>
                                  </tr>
                                </table>
                            </td>
                          </tr>
                        </table>
				</div>
			</td>
		</tr>
	</table>
</div>
</body>
</html>